/.vscode
/main.exe
CompanyDatabase.vcxproj.user
CompanyDatabase.vcxproj
CompanyDatabase.vcxproj.filters
CompanyDatabase.sln
.vs/CompanyDatabase/v17/ipch/AutoPCH/cc0e527c761daeb6/EMPLOYEE.ipch
.vs/CompanyDatabase/v17/ipch/AutoPCH/916966e1d2f616a0/MAIN.ipch
.vs/CompanyDatabase/v17/ipch/AutoPCH/401b31eb1a3d7b87/MAIN.ipch
.vs/CompanyDatabase/v17/Browse.VC.opendb
.vs/CompanyDatabase/v17/Browse.VC.db-wal
.vs/CompanyDatabase/v17/Browse.VC.db-shm
.vs/CompanyDatabase/v17/Browse.VC.db
.vs/CompanyDatabase/v17/.suo
.vs/CompanyDatabase/FileContentIndex/read.lock
.vs/CompanyDatabase/FileContentIndex/fe0a41be-929b-4f39-8c2e-c5e3175f3e90.vsidx
.vs/CompanyDatabase/FileContentIndex/f6ee402f-c1c2-46ce-90a0-dd2d57760e10.vsidx
.vs/CompanyDatabase/FileContentIndex/aa03d548-6b89-4b84-8ce9-17a7edfb21c6.vsidx
